.home-container {
  height: auto;
  width: 80%;
  text-align: center;
  padding: 40px 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.home-title {
  color: white;
  font-family: 'bitcount', sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 10px;

}
.home-welocme {
  color: #e1e1e1;
  font-size: 2rem;

  font-family: 'bitcount', sans-serif;
  font-weight: 300;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-desc {
  color: #e1e1e1;
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-family: 'bitcount', sans-serif;
  font-weight: 300;
}

.home-btn {
  background-color: rgb(28, 30, 34);
  color: white;
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
  font-family: 'bitcount', sans-serif;
  font-weight: 300;
  font-size: 22px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 20px;
}

.soon-btn{
     background-color: rgb(28, 30, 34);
  color: grey;
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
  font-family: 'bitcount', sans-serif;
  font-weight: 300;
  font-size: 22px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 20px;
}

.home-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

.home-footer{
     color: #e1e1e1;
  font-size: 0.9rem;
  margin-top: 50px;
  text-align: center;
  display: block;
  position: static;
}
 .home-how h3 {
    font-family: 'bitcount', sans-serif;
    font-weight: 300;
  color: white;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.home-how ul {
    
  color: #d7d5d5;
  list-style: disc inside;
  padding-left: 0;
  margin: 0;
  text-align: left;
}

.home-appbar {
  width: 100%;
  height: 60px;
  background: rgb(28, 30, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  
}

.home-appbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 50%;
  object-fit: cover;
}

.home-appbar-title {
  color: white;
  font-size: 1.5rem;
  font-family: 'bitcount', sans-serif;
  font-weight: 500;
}

.home-appbar-menu {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  margin-right: 25px;
  cursor: pointer;
  outline: none;
}

.home-drawer {
  position: fixed;
  top: 0;
  right: -220px;
  width: 220px;
  height: 100%;
  background: rgb(28, 30, 34);
  box-shadow: 2px 0 8px rgba(0,0,0,0.2);
  transition: left 0.3s ease;
  z-index: 200;
  padding-top: 60px;
}

.home-drawer.open {
  right: 0;
}

.home-drawer-close {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 12px;
  right: 16px;
  cursor: pointer;
}

.home-drawer ul {
  list-style: none;
  padding: 0;
  margin: 20px  10px 0;
}

.home-drawer ul li {
  margin: 24px 0;
}

.home-drawer ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'bitcount', sans-serif;
  transition: color 0.2s;
}
.logout-btn{
    color: white;
    background-color: rgb(28, 30, 34);
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'bitcount', sans-serif;
  transition: color 0.2s;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.home-drawer ul li a:hover,
.logout-btn:hover {
  color: white;
}

